
html{
  font-size: 62.5%;   //1rem=10px as 62.5/100*16= 10px 
  
  @media only screen and (max-width:$bp-large){
    font-size: 50%;     
  }      //8px  
  
  @media only screen and (max-width:$bp-medium){
    font-size: 40.6%;          
  }

  @media only screen and (max-width:$bp-smallestest){
    font-size: 30%;          
  }    
}

body{    

  box-sizing: border-box;

  background-image: linear-gradient(to right bottom,var(--color-Primary-light),var(--color-Primary-dark));
  background-size: cover;
  background-repeat: no-repeat;  

  min-height: 100vh;             
}